/as/nbproject/private/
/commons/nbproject/private/
/commons/build/
/commons/dist/
/as/build/
/as/dist/
/gs/nbproject/private/
/gs/build/
/gs/dist/
/scripts/nbproject/private/
/scripts/build/
/scripts/dist/